.content-wrapper
  = render 'shared/content_title', title: "Forgot Password?"
  .container
    .row
      .col-md-12
        =form_tag forgot_passwords_path, class: "sign_in" do
          .form-group
            =label_tag :email, "Email Address"
            = email_field_tag :email
          .form-group.action
            = submit_tag "Send Email", class: "btn btn-default"